<h1>New follower</h1>

<% form_for(@follower) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', followers_path %>